/* ========================================== */
@charset "UTF-8";

/* ========================================== */
/* base */
*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
  box-shadow: 0 0 8px #ffa800;
}

html {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

body {
  color: #333;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.8;
}

img {
  max-width: 100%; /* 画像サイズより親が超えたときの問題 */
  height: auto;
  vertical-align: bottom;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ========================================== */
/* global */
.container {
  width: 94%;
  margin: auto;
}

.button {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pc-none {
  display: none;
}

.section {
  padding: 60px 0 70px;
}

.title-box {
  text-align: center;
}

.title {
  font-size: 37px;
  line-height: 1.63;
}

.subtitle {
  font-size: 14px;
}

.contents-wrap {
  margin-top: 40px;
}

.boxes {
  display: flex;
}

.box {
  width: 310px;
  max-width: 100%;
}

.top-button {
  margin-top: 20px;
  position: fixed;
  right: 0;
  bottom: 50px;
  margin: 0 10px 0 auto;
}

.top-button .button {
  width: 105px;
  height: 39px;
  background-color: #ffa800;
}

.top-button .page-top {
  font-size: 12px;
  font-weight: bold;
}

.top-button .fa-arrow-up {
  margin-left: 5px;
}

/* ========================================== */
/* ヘッダー */
header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
}

header .container {
  max-width: 980px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 100px;
  height: 20px;
  line-height: 1;
}

header .logo .home {
  display: block;
}

header .list {
  display: flex;
  align-items: center;
}

header .item + .item {
  margin-left: 20px;
}

header .button {
  width: 132px;
  height: 30px;
  font-weight: bold;
  background-color: #ffa800;
  border-radius: 9999px;
}

header .drawer {
  display: none;
}

header .toggle {
  width: 24px;
  height: 4px;
  background: #333;
  border-radius: 9999px;
  display: block;
}

header .toggle + .toggle {
  margin: 4px auto 0;
}

/* ========================================== */
/* First View */
.first-view {
  background-image: url(../img/first-view.jpg);
  background-size: cover;
  background-position: center;
  padding: 60px 0 120px;
  color: #fff;
}

.first-view .container {
  max-width: 662px;
}

.first-view .text{
  margin: 39px auto 0;
  text-align: center;
}

.first-view .list {
  list-style-type: disc;
  list-style-position: inside;
  border-top: 1px solid #fff;
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.first-view .button-wrap {
  margin-top: 40px;
}

.first-view .button {
  max-width: 252px;
  height: 35px;
  margin: 0 auto;
  font-weight: bold;
  background-color: #ffa800;
  border-radius: 9999px;
}

/* ========================================== */
.section1 {
  background-color: #f2faff;
}

.section1 .container {
  max-width: 980px;
}

.section1 .box .image {
  width: 198px;
  margin: auto;
}

.section1 .box .concept {
  margin-top: 20px;
  text-align: center;
  line-height: 1.2;
}

.section1 .text {
  margin: 32px auto 0;
}

/* ========================================== */
/* PIXTECHの思い */
.section2 {
  background-image: url(../img/section2-bg.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.section2 .container {
  max-width: 600px;
}

/* ========================================== */
/* カリキュラム */
.section3 {
  background-color: #fff;
}

.section3 .container {
  max-width: 980px;
}

.section3 .curriculum {
  position: relative;
  text-align: center;
}

.section3 .curriculum::after {
  content: "";
  border-top: 1px solid #eee;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.section3 .curriculum .title {
  background-color: #fff;
  display: inline-block;
  position: relative;
  width: 272px;
  font-size: 28px;
  line-height: 1;
  z-index: 1;
}

.section3 .boxes {
  margin-top: 40px;
}

.section3 .box .image {
  margin: auto
}

.section3 .box .text {
  margin: 20px auto 0;
  font-size: 23px;
  text-align: center;
  line-height: 1.2;
}

.section3 .box-wrap + .box-wrap {
  margin-top: 100px;
}

.section3 .language-image {
  width: 142px;
  margin: auto;
}

.section3 .language-text {
  margin: 21px auto 0;
  border-top: solid 1px #eee;
  padding-top: 10px;
  line-height: 1.5;
}

/* ========================================== */
/* コース紹介 */
.section4 {
  background-image: url(../img/section4-bg.jpg);
  background-position: center;
  background-color: #d8d8d8;
}

.section4 .container {
  max-width: 980px;
}

.section4 .card {
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 0 2px 0 rgba(204,204,204,0.5);
}

.section4 .card-image {
  position: relative;
  padding-top: 53.125%;
  background-size: cover;
}

.section4 .adult-student .card-image {
  background-image: url(../img/section4-1.png);
}

.section4 .course-wrap {
  position: absolute;
  top: 20px;
  left: 20px;
}

.section4 .course-wrap .course {
  height: 34px;
  font-size: 24px;
  color: #fff;
  background-color: #ffa800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4 .adult-student .course {
  width: 226px;
}

.section4 .adult-student .detail {
  margin-top: 15px;
  line-height: 0.7;
}

.section4 .adult-student .detail .item {
  line-height: 1.14;
}

.section4 .detail .item {
  color: #fff;
}

.section4 .detail .price {
  color: #ffa800;
  font-size: 24px;
}

.section4 .card-text {
  padding: 21px 15px 20px;
}

.section4 .card-text .terms {
  border-top: 1px solid #eee;
  margin: 20px auto 0;
  padding-top: 10px;
}

.section4 .card-text .terms .text {
  font-weight: bold;
  line-height: 1;
}

.section4 .card-text .list {
  list-style-type: disc;
  margin: 19px auto 0;
  padding-left: 16px;
}

.section4 .focus-study .card-image {
  background-image: url(../img/section4-2.png);
}

.section4 .focus-study .course {
  width: 178px;
}

.section4 .focus-study .detail {
  margin-top: 10px;
  line-height: 1.08;
}

/* ========================================== */
.section5 {
  background-color: #fff;
}

.section5 .container {
  max-width: 980px;
}

.section5 .teacher {
  display: flex;
  align-items: center;
}

.section5 .profile .representative {
  height: 25px;
}

.section5 .profile .teacher-name {
  display: flex;
  align-items: center;
  line-height: 1;
}

.section5 .profile .teacher-name .name {
  font-size: 23px;
  font-weight: bold;
}

.section5 .profile .teacher-name .name-kana {
  margin-left: 21px;
}

.section5 .profile .text {
  max-width: 696px;
  margin-top: 11px;
  border-top: solid 1px #eee;
  padding-top: 10px;
}

/* ========================================== */
.section6 {
  background-color: #eee;
}

.section6 .container {
  max-width: 980px;
}

.section6 .faq {
  background-color: #fff;
  padding: 20px 20px 66px;
}

.section6 .faq .unit + .unit {
  margin-top: 86px;
}

.section6 .faq .unit .question {
  font-weight: bold;
  line-height: 1;
}

.section6 .faq .unit .question .head {
  color: #3333cc;
}

.section6 .faq .unit .answer {
  border-top: solid 1px #eee;
  padding-top: 10px;
  margin-top: 10px;
  line-height: 1.28;
}

.section6 .faq .unit .answer .head {
  color: #cc3333;
  font-weight: bold;
}

/* ========================================== */
.section7 {
  background-color: #fff;
}

.section7 .container {
  max-width: 600px;
}

.section7 .form-group .unit {
  min-height: 56px;
  border-bottom: solid 1px #eee;
}

.section7 .form-group .unit .head {
  max-width: 142px;
  width: 100%;
  display: flex;
  align-items: center;
}

.section7 .form-group .unit .head .need {
  color: #fff;
  background-color: #ffe5b3;
  margin-left: 10px;
  width: 34px;
  line-height: 1.46;
  border-radius: 5px;
  text-align: center;
}

.section7 .form-group .unit .body {
  width: 100%;
  color: #5a5a5a;
}

.section7 .form-group .info .body {
  display: flex;
}

.section7 .form-group .unit .body .input {
  width: 100%;
}

.section7 .form-group .unit .body .input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #fff inset;
}

.section7 .form-group .day {
  align-items: baseline;
}

/* input[type="date"] {
  position: relative;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
} */

.section7 .form-group .day .body .select-box {
  height: 56px;
  border-top: solid 1px #eee;
  display: flex;
  position: relative;
}

.section7 .form-group .day .body .select-box::before {
  border-bottom: 5px solid #333;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: "";
  position: absolute;
  top: 20px;
  left: 48px;
  width: 0;
}

.section7 .form-group .day .body .select-box::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #333;
  content: "";
  position: absolute;
  top: 28px;
  left: 48px;
  width: 0;
}

.section7 .form-group .day .select-box .select {
  width: 14%;
  cursor: pointer;
}

.section7 .form-group .check-wrap {
  margin-top: 20px;
}

.section7 .form-group .check-wrap #check {
  vertical-align: text-top;
}

.section7 .form-group .button-wrap {
  margin-top: 20px;
}

.section7 .form-group .button-wrap .button {
  max-width: 371px;
  width: 100%;
  height: 54px;
  margin: 0 auto;
  border-radius: 9999px;
}

.section7 .form-group .button-wrap .send .button {
  background-color: #ccc;
}

.section7 .form-group .button-wrap .inquiry {
  margin-top: 50px;
  text-align: center;
  line-height: 1;
}

.section7 .form-group .button-wrap .line {
  margin-top: 10px;
}

.section7 .form-group .button-wrap .line .button {
  background-color: #2cbf13;
}

/* .section7 .form-group .unit .body .input:focus,
.section7 .form-group .unit .body .date:focus,
.section7 .form-group .unit .body .select:focus,
.section7 .form-group .check-wrap .check:focus,
.section7 .form-group .button-wrap .button:focus 
{
  box-shadow: 0 0 4px #ffa800;
} */

/* ========================================== */
.section8 {
  background-image: url(../img/section8-bg.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 60px 0 84px;
}

.section8 .about {
  text-align: center;
}

.section8 .about .company {
  font-size: 23px;
  line-height: 1;
}

.section8 .about .info {
  margin-top: 20px;
  line-height: 1.3;
}

/* ========================================== */
/* footer */

footer {
  background-color: #333;
  color: #fff;
}

footer .container {
  max-width: 980px;
  line-height: 1;
}

/* ========================================== */
/* レスポンシブ */
@media screen and (max-width: 1024px) {
  header .nav {
    display: none;
  }

  header .drawer {
    display: block;
  }

  .section4 .card .description {
    height: 200px;
  }
}

@media screen and (min-width: 1025px) {
  .section4 .card .description {
    height: 150px;
  }
}

@media screen and (max-width: 767px) {
  .first-view .list {
    margin: 20px auto 0;
    padding-top: 20px;
  }

  .top-button {
    display: none;
  }

  .pc-none {
    display: block;
  }

  .boxes {
    flex-direction: column;
  }

  .box {
    margin: auto;
  }

  .box + .box {
    margin-top: 40px;
  }

  .section3 .image {
    width: 80%;
  }

  .section4 .contents-wrap {
    margin-top: 20px;
  }

  .section4 {
    background-size: auto 60%;
  }

  .section4 .contents-wrap {
    margin-top: 20px;
  }

  .section4 .cards {
    flex-direction: column;
  }

  .section4 .card + .card {
    margin: 40px auto 0;
  }

  .section4 .card-text .description {
    height: auto;
  }

  .section5 .teacher-image {
    display: none;
  }

  .section7 .form-group .unit {
    display: block;
  }

  .section7 .form-group .info {
    padding: 19px 0 15px 15px;
  }

  .section7 .form-group .day {
    padding: 19px 0 0 15px;
  }

  .section7 .form-group .day .body .select-box {
    margin-top: 15px;
  }

  .section7 .form-group .check-wrap {
    display: flex;
    justify-content: center;
  }

  .section7 .form-group .check-wrap .inner {
    line-height: 1.8;
  }

  footer {
    padding: 20px 0 ;
  }

  footer .container {
    display: block;
    text-align: center;
  }

  footer .detail {
    display: block;
  }

  footer .detail .item + .item {
    margin-top: 20px;
  }

  footer .copyright {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .first-view .list {
    margin: 40px auto 0;
    padding-top: 40px;
  }

  .box + .box {
    margin-left: 25px;
  }

  .section4 {
    background-size: cover;
  }

  .section4 .cards {
    display: flex;
  }

  .section4 .card + .card {
    margin-left: 20px;
  }

  .section5 .teacher-image {
    min-width: 250px;
    margin-left: 34px;
  }

  .section7 .form-group .unit {
    display: flex;
    padding-left: 15px;
  }

  .section7 .form-group .unit .body {
    margin-left: 13px;
  }

  .section7 .form-group .day .body .date {
    height: 56px;
  }

  .section7 .form-group .check-wrap .inner {
    line-height: 1;
  }

  footer {
    height: 25px;
    padding: 6px 0;
  }

  footer .container {
    display: flex;
    justify-content: space-between;
  }

  footer .detail {
    display: flex;
  }

  footer .detail .item + .item {
    margin-left: 20px;
  }
}
